<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>controller.NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRestaurant</servlet-name>
        <servlet-class>controller.NewRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRestaurant</servlet-name>
        <url-pattern>/NewRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
